.projects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projects-header{
    /* text-align: center;
    font-size: 10vh;
    font-weight: bolder; */

    color: #352216;
    font-size: 15vh;
    font-weight: bolder;
    /* margin-top: .5em; */
    /* margin-bottom: .5em; */
}

.project-cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: blanchedalmond;
    height: 50vh;
    width: 25%;
    margin: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 1px 16px 31px -3px rgba(0,0,0,0.35);
    -webkit-box-shadow: 1px 16px 31px -3px rgba(0,0,0,0.35);
    -moz-box-shadow: 1px 16px 31px -3px rgba(0,0,0,0.35);
}

.project:hover {
    animation-name: shake;
    animation-duration: 2s;
    cursor: pointer;
}

#web-calculator{
    background-image: url("../graphics/bg-web-calculator.png");
    background-size: cover;
    background-position: center;
}

#dota2-dictionary {
    background-image: url("../graphics/bg-dota2-dictionary.jpg");
    background-size: cover;
    background-position: center;
}

#pahimakas {
    background-image: url("../graphics/bg-pahimakas.png");
    background-size: cover;
    background-position: center;
    
}

.label{
    color: rgb(255, 255, 255);
    padding: 2em;
    font-size: xx-large;
    font-weight: 1000;
}

@media only screen and (max-width: 1200px) {

    .project-cards{
        flex-direction: column;
    }
    .projects-header {
        font-size: 10vh;
        font-weight: bolder;
        margin-top: .5em;
        margin-bottom: .5em;
    }

    .project {
        width: 60%;
    }
}

@keyframes shake {
    30%{ rotate: 5deg; scale: .9}
    60%{ rotate: -5deg; scale: .9}
}